<div class="Parent">
  <h2 class="Parent-Heading">
    新型コロナウイルス感染症に関する支援制度
  </h2>
  <div>
    <div class="TextCard">
      <ul class="list_01">
        <li><a href="support01_01.html#s01">収入が減っている</a></li>
        <li><a href="support02_01.html#s01">住宅を確保<br />して欲しい</a></li>
        <li><a href="support03_01.html#s01">学費・仕送り<br />の不安がある</a></li>
        <li><a href="support05_01.html#s01" class="current">子どもの休校で<br />働けない</a></li>
        <li><a href="support04_01.html#s01">手元に<br />生活資金がない</a></li>
      </ul>

      <div id="s01">
        <div class="editor main_contents">
          <h2>子どもの休校で働けない</h2>

          <h3>小学校休業等対応助成金（労働者を雇用する事業主の方向け）</h3>

          <div class="bg_gray">
            <p>
              新型コロナウイルス感染症の影響により、小学校等が臨時休業等した場合等に、その小学校等に通う子どもの保護者である労働者の休職に伴う所得の減少に対応するため、正規・非正規問わず、有給の休暇（労働基準法上の年次有給休暇を除く。）を取得させた企業を助成します。
            </p>
          </div>

          <h4>対象者（事業主）</h4>
          <p>
            ①又は②の子どもの世話を保護者として行うことが必要となった労働者に対し、労働基準法上の年次有給休暇とは別途、有給（賃金全額支給）の休暇を取得させた事業主。<br />
            　①新型コロナウイルス感染症に関する対応として、ガイドライン等に基づき、臨時休業等した小学校等に通う子ども<br />
            　②新型コロナウイルスに感染した子どもなど、小学校等を休む必要がある子ども
          </p>

          <h4>支給額</h4>
          <p>有給休暇を取得した対象労働者に支払った賃金相当額。<br />※支給上限は１日あたり８，３３０円。</p>

          <h4>申請期間</h4>
          <p>令和２年１２月２８日まで。</p>

          <p>&nbsp;</p>

          <h3>小学校休業等対応支援金（委託を受けて個人で仕事をする方向け）</h3>

          <div class="bg_gray">
            <p>
              新型コロナウイルス感染症の影響により、小学校等が臨時休業等した場合等に、子どもの世話を行うために、契約した仕事ができなくなった個人で仕事をする保護者へ支援金を支給します。
            </p>
          </div>

          <h4>対象者（委託を受けて個人で仕事をする方）</h4>
          <p>
            ①又は②の子どもの世話を行うことが必要となった保護者であって、一定の要件を満たす方。<br />
            　①新型コロナウイルス感染症に関する対応として、ガイドライン等に基づき、臨時休業等した小学校等に通う子ども<br />
            　②新型コロナウイルスに感染した子どもなど、小学校等を休む必要がある子ども
          </p>

          <h4>一定の要件</h4>
          <ul>
            <li>個人で就業する予定であった場合</li>
            <li>業務委託契約等に基づく業務遂行等に対して報酬が支払われており、発注者から業務内容、業務を行う場所・日時などについて一定の指定を受けているなどの場合</li>
          </ul>

          <h4>支給額</h4>
          <p>就業できなかった日について、１日あたり４，１００円（定額）。</p>

          <h4>適用日</h4>
          <p>令和２年２月２７日～６月３０日。<br />※春休み等、学校が開校する予定のなかった日等は除きます。</p>

          <h4>申請期間</h4>
          <p>令和２年９月３０日まで。</p>

          <div class="foot_contact">
            <p class="foot_ttl"><span>問い合わせ先</span></p>
            <p class="foot_txt">学校等休業助成金・支援金、雇用調整助成金コールセンター</p>
            <p class="foot_tel"><a href="tel:0120-60-3999">0120-60-3999</a><span>（9:00〜21:00　土日祝含む）</span></p>
          </div>
        </div>
      </div>

      <div class="orange_box editor">
        <p class="ttl_02">特別定額給付金</p>
        <div class="orange_inner">
          <div class="bg_yellow">
            <p>
              新型コロナウイルス感染症の影響を踏まえ、定額により国民生活を支援する給付金です。
            </p>
          </div>
          <h4>対象者</h4>
          <ul>
            <li>４月２７日現在住民基本台帳に登録されている者</li>
          </ul>
          <h4>給付額</h4>
          <ul>
            <li>世帯構成員１人につき１０万円</li>
          </ul>
          <h4>申請方法</h4>
          <h5>郵送方式</h5>
          <ol>
            <li>市区町村から郵送される申請書に振込先口座情報を記入する</li>
            <li>
              本人確認書類および振込先口座の金融機関名、口座番号、口座名義人がわかる通帳やキャッシュカードの写しとともに、市区町村に郵送する
            </li>
          </ol>
          <h5>オンライン申請方式（要：マイナンバーカード）</h5>
          <ol>
            <li>マイナポータル上の特別定額給付金の申請画面にアクセスする</li>
            <li>
              世帯主および世帯員の情報並びに振込先口座情報の確認書類をアップロードし、電子申請を行う
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
