<div class="Parent">
  <h2 class="Parent-Heading">
    新型コロナウイルス感染症に関する支援制度
  </h2>
  <div>
    <div class="TextCard">
      <ul class="list_01">
        <li><a href="support01_01.html#s01">収入が減っている</a></li>
        <li><a href="support02_01.html#s01" class="current">住宅を確保<br />して欲しい</a></li>
        <li><a href="support03_01.html#s01">学費・仕送り<br>の不安がある</a></li>
        <li><a href="support05_01.html#s01">子どもの休校で<br />働けない</a></li>
        <li><a href="support04_01.html#s01">手元に<br>生活資金がない</a></li>
      </ul>

      <h3 id="s01" class="ttl_01">《 住宅を確保してほしい 》</h3>
      <ul class="list_02">
        <li><a href="#s02"><span class="subdirectory-arrow-right"></span><p>家賃の支払いを支援してほしい</p></a></li>
        <li><a href="support02_02.html#s02"><span class="subdirectory-arrow-right"></span><p>住宅を確保してほしい</p></a></li>
        <li class="nodata"></li>
        <li class="nodata"></li>
        <li class="nodata"></li>
      </ul>

      <div id="s02">
        <div class="editor main_contents">
          <h2>家賃の支払いを支援してほしい</h2>

          <h3>住居確保給付金（家賃）</h3>

          <div class="bg_gray">
            <p>新型コロナウイルス感染症の感染拡大等の状況を踏まえ、休業等に伴う収入減少により、離職や廃業に至っていないがこうした状況と同程度の状況に至り、住居を失う恐れが生じている方々に対しても、一定期間家賃相当額を支給できるよう拡充します。</p>
          </div>

          <h4>対象者（個人）</h4>
          <p>離職・廃業から２年以内または休業等により収入が減少し、離職等と同程度の状況の方。</p>

          <h4>支給期間</h4>
          <p>原則３か月（求職活動等を誠実に行っている場合は３か月延長可能（最長９か月まで））。</p>

          <div class="foot_contact">
            <p class="foot_ttl_s"><span>問い合わせ先・お申込み</span></p>
            <div class="scroll_txt">※表はスライドしてご覧いただけます。</div>
            <div class="scroll-table">
              <table>
                <tbody>
                  <tr>
                    <th>お住まい</th>
                    <th>窓口名</th>
                  <th>電話番号</th>

                  </tr>
                  <tr>
                    <td>大津市</td>
                    <td>福祉子ども部　生活福祉課</td>
                    <td class="txt_c"><a href="tel:077-528-2743">077-528-2743</a></td>
                  </tr>
                  <tr>
                    <td>彦根市</td>
                    <td>福祉保健部　社会福祉課</td>
                    <td class="txt_c"><a href="tel:0749-23-9590">0749-23-9590</a></td>
                  </tr>
                  <tr>
                    <td>長浜市</td>
                    <td>健康福祉部　社会福祉課</td>
                    <td class="txt_c"><a href="tel:0749-65-6536">0749-65-6536</a></td>
                  </tr>

                  <tr>
                    <td>近江八幡市</td>
                    <td>福祉保健部　援護課　福祉暮らし仕事相談室</td>
                    <td class="txt_c"><a href="tel:0748-36-5583">0748-36-5583</a></td>
                  </tr>
                  <tr>
                    <td>草津市</td>
                    <td>健康福祉部　人とくらしのサポートセンター</td>
                    <td class="txt_c"><a href="tel:077-561-6927">077-561-6927</a></td>
                  </tr>
                  <tr>
                    <td>守山市</td>
                    <td>健康福祉部　健康福祉政策課　政策支援相談室</td>
                    <td class="txt_c"><a href="tel:077-582-1161">077-582-1161</a></td>
                  </tr>
                  <tr>
                    <td>栗東市</td>
                    <td>健康福祉部　社会福祉課</td>
                    <td class="txt_c"><a href="tel:077-551-0118">077-551-0118</a></td>
                  </tr>
                  <tr>
                    <td>甲賀市</td>
                    <td>健康福祉部　生活支援課</td>
                    <td class="txt_c"><a href="tel:0748-69-2158">0748-69-2158</a></td>
                  </tr>
                  <tr>
                    <td>野洲市</td>
                    <td>市民部　市民生活相談課</td>
                    <td class="txt_c"><a href="tel:077-587-6063">077-587-6063</a></td>
                  </tr>
                  <tr>
                    <td>湖南市</td>
                    <td>健康福祉部　住民生活相談室</td>
                    <td class="txt_c"><a href="tel:0748-71-2370">0748-71-2370</a></td>
                  </tr>
                  <tr>
                    <td>高島市</td>
                    <td>健康福祉部　社会福祉課</td>
                    <td class="txt_c"><a href="tel:0740-25-8120">0740-25-8120</a></td>
                  </tr>
                  <tr>
                    <td>東近江市</td>
                    <td>健康福祉部　福祉総合支援課</td>
                    <td class="txt_c"><a href="tel:0748-24-5641">0748-24-5641</a></td>
                  </tr>
                  <tr>
                    <td>米原市</td>
                    <td>健康福祉部　社会福祉課</td>
                    <td class="txt_c"><a href="tel:0749-55-8102">0749-55-8102</a></td>
                  </tr>
                  <tr>
                    <td>日野町</td>
                    <td>社会福祉法人日野町社会福祉協議会</td>
                    <td class="txt_c"><a href="tel:0748-52-1219">0748-52-1219</a></td>
                  </tr>
                  <tr>
                    <td>竜王町</td>
                    <td>社会福祉法人竜王町社会福祉協議会</td>
                    <td class="txt_c"><a href="tel:0748-58-1475">0748-58-1475</a></td>
                  </tr>
                  <tr>
                    <td>愛荘町</td>
                    <td>社会福祉法人愛荘町社会福祉協議会</td>
                    <td class="txt_c"><a href="tel:0749-42-7170">0749-42-7170</a></td>
                  </tr>
                  <tr>
                    <td>豊郷町</td>
                    <td>社会福祉法人豊郷町社会福祉協議会</td>
                    <td class="txt_c"><a href="tel:0749-35-8060">0749-35-8060</a></td>
                  </tr>
                  <tr>
                    <td>甲良町</td>
                    <td>社会福祉法人甲良町社会福祉協議会</td>
                    <td class="txt_c"><a href="tel:0749-38-4667">0749-38-4667</a></td>
                  </tr>
                  <tr>
                    <td>多賀町</td>
                    <td>社会福祉法人多賀町社会福祉協議会</td>
                    <td class="txt_c"><a href="tel:0749-48-8127">0749-48-8127</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="orange_box editor">
          <p class="ttl_02">特別定額給付金</p>
          <div class="orange_inner">
            <div class="bg_yellow">
              <p>新型コロナウイルス感染症の影響を踏まえ、定額により国民生活を支援する給付金です。</p>
            </div>
            <h4>対象者</h4>
            <ul>
              <li>４月２７日現在住民基本台帳に登録されている者</li>
            </ul>
            <h4>給付額</h4>
            <ul>
              <li>世帯構成員１人につき１０万円</li>
            </ul>
            <h4>申請方法</h4>
            <h5>郵送方式</h5>
            <ol>
              <li>市区町村から郵送される申請書に振込先口座情報を記入する</li>
              <li>本人確認書類および振込先口座の金融機関名、口座番号、口座名義人がわかる通帳やキャッシュカードの写しとともに、市区町村に郵送する</li>
            </ol>
            <h5>オンライン申請方式（要：マイナンバーカード）</h5>
            <ol>
              <li>マイナポータル上の特別定額給付金の申請画面にアクセスする</li>
              <li>世帯主および世帯員の情報並びに振込先口座情報の確認書類をアップロードし、電子申請を行う</li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
