<div class="Parent">
  <h2 class="Parent-Heading">
    新型コロナウイルス感染症に関する支援制度
  </h2>
  <div>
    <div class="TextCard">


      <ul class="list_01">
        <li><a href="support01_01.html#s01">収入が減っている</a></li>
        <li><a href="#s01" class="current">家賃が払えない</a></li>
        <li><a href="support03_01.html#s01">学費・仕送り<br>の不安がある</a></li>
        <li><a href="support04_01.html#s01">手元に<br>生活資金がない</a></li>
      </ul>

      <h3 id="s01" class="ttl_01">《 家賃が払えない 》</h3>
      <ul class="list_02">
        <li><a href="#s02"><span class="subdirectory-arrow-right"></span><p>家賃の支払いを支援してほしい</p></a></li>
        <!-- <li><a href="support02_02.html#s02"><span class="subdirectory-arrow-right"></span><p>住宅を確保してほしい</p></a></li> -->
        <li class="nodata"></li>
        <li class="nodata"></li>
        <li class="nodata"></li>
      </ul>

      <div id="s02">
        <div class="editor main_contents">
          <h2>家賃の支払いを支援してほしい</h2>

          <h3>住居確保給付金（家賃）</h3>

          <div class="bg_gray">
            <p>新型コロナウイルス感染症の感染拡大等の状況を踏まえ、休業等に伴う収入減少により、離職や廃業に至っていないがこうした状況と同程度の状況に至り、住居を失う恐れが生じている方々に対しても、一定期間家賃相当額を支給できるよう拡充します。</p>
          </div>

          <h4>対象者（個人）</h4>
          <p>離職・廃業から２年以内または休業等により収入が減少し、離職等と同程度の状況の方。</p>

          <h4>支給期間</h4>
          <p>原則３か月（求職活動等を誠実に行っている場合は３か月延長可能（最長９か月まで））。</p>

          <div class="foot_contact">
            <p class="foot_ttl_s"><span>問い合わせ先・お申込み</span></p>
            <p class="foot_txt">自立相談支援機関　全国連絡先一覧<br /><a href="https://www.mhlw.go.jp/content/000614516.pdf">https://www.mhlw.go.jp/content/000614516.pdf</a></p>
          </div>

        </div>


        <div class="orange_box editor">
          <p class="ttl_02">特別定額給付金（仮称）</p>
          <div class="orange_inner">
            <div class="bg_yellow">
              <p>新型コロナウイルス感染症の影響を踏まえ、定額により国民生活を支援する給付金です。</p>
            </div>
            <h4>対象者</h4>
            <ul>
              <li>４月２７日現在住民基本台帳に登録されている者</li>
            </ul>
            <h4>給付額</h4>
            <ul>
              <li>世帯構成員１人につき１０万円</li>
            </ul>
            <h4>申請方法</h4>
            <h5>郵送方式</h5>
            <ol>
              <li>市区町村から郵送される申請書に振込先口座情報を記入する</li>
              <li>本人確認書類および振込先口座の金融機関名、口座番号、口座名義人がわかる通帳やキャッシュカードの写しとともに、市区町村に郵送する</li>
            </ol>
            <h5>オンライン申請方式（要：マイナンバーカード）</h5>
            <ol>
              <li>マイナポータル上の特別定額給付金の申請画面にアクセスする</li>
              <li>世帯主および世帯員の情報並びに振込先口座情報の確認書類をアップロードし、電子申請を行う</li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
