<div class="Parent">
  <h2 class="Parent-Heading">
    新型コロナウイルス感染症に関する支援制度
  </h2>
  <div>
    <div class="TextCard">


      <ul class="list_01">
        <li><a href="support01_01.html#s01" class="current">収入が減っている</a></li>
        <li><a href="support02_01.html#s01">住宅を確保<br />して欲しい</a></li>
        <li><a href="support03_01.html#s01">学費・仕送り<br>の不安がある</a></li>
        <li><a href="support05_01.html#s01">子どもの休校で<br />働けない</a></li>
        <li><a href="support04_01.html#s01">手元に<br>生活資金がない</a></li>
      </ul>

      <h3 id="s01" class="ttl_01">《 収入が減っている 》</h3>
      <ul class="list_02">
        <li><a href="support01_01.html#s02"><span class="subdirectory-arrow-right"></span><p>売上が落ち込んでいる</p></a></li>
        <li><a href="support01_02.html#s02"><span class="subdirectory-arrow-right"></span><p>公共料金の支払いを延納したい</p></a></li>
        <li><a href="support01_03.html#s02"><span class="subdirectory-arrow-right"></span><p>納税の猶予・免除の手続をしたい</p></a></li>
        <li><a href="support01_04.html#s02"><span class="subdirectory-arrow-right"></span><p>コロナウィルスに感染してしまった</p></a></li>
        <li><a href="#s02"><span class="subdirectory-arrow-right"></span><p>会社の都合で休業・失業して手元に現金がない</p></a></li>
      </ul>



      <div id="s02">
        <div class="editor main_contents">

          <h2>会社の都合で休業・失業して手元に現金がない</h2>
          <h3>休業手当</h3>
          <div class="bg_gray">
            <p>労働基準法第２６条では、会社に責任のある理由で労働者を休業させた場合、労働者の最低限の生活の保障を図るため、会社は、休業期間中に休業手当を支払わなければならないとされています。</p>
          </div>
          <h4>休業手当の支払いが必要となる例（※個別の事情により異なります）</h4>
          <ul>
            <li>会社が、発熱などの症状があるという理由だけで、労働者に一律に仕事を休ませる措置をとる場合</li>
            <li>会社が、「帰国者」や新型コロナウイルス感染者との「接触者」である労働者について、労働者が「帰国者・接触者相談センター」に相談した結果、職務の継続が可能と言われたにもかかわらず、会社の判断により休ませる場合</li>
          </ul>
          <h4>休業手当の額</h4>
            <p>平均賃金（休業した以前３か月間にその労働者に支払われた賃金の総額を、その期間の総日数で除した額）の１００分の６０以上の額。</p>

          <div class="foot_contact">
            <p class="foot_ttl"><span>問い合わせ先</span></p>
            <p class="foot_txt">それぞれの勤務先にご確認ください。</p>
          </div>

          <p>　</p>

          <h3>雇用調整助成金</h3>
          <div class="bg_gray">
            <p>新型コロナウイルス感染症の影響を受け、事業活動の縮小を余儀なくされた事業主が、労働者に対して一時的に休業、教育訓練または出向を行い、労働者の雇用維持を図った場合に、休業手当等の一部を助成します。</p>
          </div>
          <h4>対象者（事業主）</h4>
            <p>新型コロナウイルス感染症の影響を受ける事業主。</p>
          <h4>特別措置</h4>
            <p>詳細は厚生労働省のホームページをご確認ください。<br /><a href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/koyou_roudou/koyou/kyufukin/pageL07.html">https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/koyou_roudou/koyou/kyufukin/pageL07.html</a></p>

        </div>


        <div class="orange_box editor">
          <p class="ttl_02">特別定額給付金</p>
          <div class="orange_inner">
            <div class="bg_yellow">
              <p>新型コロナウイルス感染症の影響を踏まえ、定額により国民生活を支援する給付金です。</p>
            </div>
            <h4>対象者</h4>
            <ul>
              <li>４月２７日現在住民基本台帳に登録されている者</li>
            </ul>
            <h4>給付額</h4>
            <ul>
              <li>世帯構成員１人につき１０万円</li>
            </ul>
            <h4>申請方法</h4>
            <h5>郵送方式</h5>
            <ol>
              <li>市区町村から郵送される申請書に振込先口座情報を記入する</li>
              <li>本人確認書類および振込先口座の金融機関名、口座番号、口座名義人がわかる通帳やキャッシュカードの写しとともに、市区町村に郵送する</li>
            </ol>
            <h5>オンライン申請方式（要：マイナンバーカード）</h5>
            <ol>
              <li>マイナポータル上の特別定額給付金の申請画面にアクセスする</li>
              <li>世帯主および世帯員の情報並びに振込先口座情報の確認書類をアップロードし、電子申請を行う</li>
            </ol>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
