<div class="Parent">
  <h2 class="Parent-Heading">
    新型コロナウイルス感染症に関する支援制度
  </h2>
  <div>
    <div class="TextCard">
      <ul class="list_01">
        <li>
          <a href="#s01" class="current">収入が減っている</a>
        </li>
        <li>
          <a href="support02_01.html#s01">家賃が払えない</a>
        </li>
        <li>
          <a href="support03_01.html#s01">学費・仕送り<br />の不安がある</a>
        </li>
        <li>
          <a href="support04_01.html#s01">手元に<br />生活資金がない</a>
        </li>
      </ul>

      <h3 id="s01" class="ttl_01">《 収入が減っている 》</h3>
      <ul class="list_02">
        <li>
          <a href="#s02"
            ><span class="material-icons">subdirectory_arrow_right</span>
            <p>売上が落ち込んでいる</p>
          </a>
        </li>
        <li>
          <a href="support01_02.html#s02"
            ><span class="material-icons">subdirectory_arrow_right</span>
            <p>公共料金の支払いを延納したい</p>
          </a>
        </li>
        <li>
          <a href="support01_03.html#s02"
            ><span class="material-icons">subdirectory_arrow_right</span>
            <p>納税の猶予・免除の手続をしたい</p>
          </a>
        </li>
        <li>
          <a href="support01_04.html#s02"
            ><span class="material-icons">subdirectory_arrow_right</span>
            <p>コロナウィルスに感染してしまった</p>
          </a>
        </li>
        <li>
          <a href="support01_05.html#s02"
            ><span class="material-icons">subdirectory_arrow_right</span>
            <p>会社の都合で休業・失業して手元に現金がない</p>
          </a>
        </li>
      </ul>

      <div id="s02">
        <div class="editor main_contents">
          <h2>売上げが落ち込んでいる</h2>

          <h3>中小企業者向け制度融資</h3>
          <div class="bg_gray">
            <p>
              滋賀県では、新型コロナウイルス感染症の発生により、経営に影響を受けている中小企業者の方に御利用いただける融資制度を御用意しています。
            </p>
          </div>
          <h4>対象者（事業主）</h4>
          <ul>
            <li>
              最近１か月間の売上高等が前年同月比で１５％以上減少している場合<br />→【セーフティネット資金（６項）】の活用を御検討ください
            </li>
            <li>
              国が指定する業種に属し、最近１か月間の売上高等が前年同月比で５％以上減少している場合<br />→【セーフティネット資金（５号）】の活用を御検討ください
            </li>
            <li>
              最近１か月間の売上高等が前年同月比で２０％以上減少している場合<br />→【セーフティネット資金（４号）】の活用を御検討ください
            </li>
            <li>
              セーフティネット資金がご利用できない場合<br />→【緊急経済対策資金】の活用を御検討ください
            </li>
          </ul>
          <h4>詳細・問い合わせ先</h4>
          <p>
            <a
              href="https://www.pref.shiga.lg.jp/ippan/shigotosangyou/kigyou/309618.html"
              >https://www.pref.shiga.lg.jp/ippan/shigotosangyou/kigyou/309618.html</a
            >
          </p>

          <p>&nbsp;</p>

          <h3>中小企業雇用継続支援補助金</h3>
          <div class="bg_gray">
            <p>
              滋賀県では、新型コロナウイルス感染症の影響により、事業活動の縮小を余儀なくされ、休業により従業員の雇用維持に努力されている事業主を対象とした、経費の補助制度を創設しました。
            </p>
          </div>
          <h4>対象者（事業主）</h4>
          <p>
            滋賀労働局長から雇用調整助成金の支給決定を受けた県内中小企業事業主。
          </p>
          <h4>補助対象となる額</h4>
          <p>
            滋賀労働局長の支給決定額のうち、休業にかかる分。（教育訓練・出向によるものは対象外）
          </p>
          <h4>詳細・問い合わせ先</h4>
          <p>
            <a
              href="https://www.pref.shiga.lg.jp/ippan/shigotosangyou/shigoto/310828.html"
              >https://www.pref.shiga.lg.jp/ippan/shigotosangyou/shigoto/310828.html</a
            >
          </p>

          <p>&nbsp;</p>

          <h3>
            新型コロナウイルス感染症対策経営力強化補助金
          </h3>
          <div class="bg_gray">
            <p>
              新型コロナウイルス感染症の影響を受けた、または受けると見込まれる県内中小企業等の今後の事業活動に資する人材育成、働き方改革、新たな販路の開拓等の取組に対し、予算の範囲内で経費の一部を補助することにより、企業の経営基盤強化、本県経済の活性化を図ることを目的とします。
            </p>
          </div>
          <h4>対象者（事業主）</h4>
          <p>
            新型コロナウイルス感染症の影響を受けた、または受けると見込まれる滋賀県内に事務所または事業所を有する中小企業者等のみなさま。
          </p>
          <h4>対象となる事業</h4>
          <p>
            交付決定の日から令和２年１０月３０日の間に実施される、「人材育成・確保」「働き方改革・職場環境改善」「インターネット等を活用した新たな販路開拓」に関する事業。
          </p>
          <h4>補助限度額</h4>
          <p>５０万円　※補助金申請下限額は２０万円</p>
          <h4>補助率</h4>
          <p>中小企業者：２／３　　小規模事業者：３／４</p>
          <h4>詳細・問い合わせ先</h4>
          <p>
            <a
              href="https://www.pref.shiga.lg.jp/ippan/shigotosangyou/syougyou/302793.html"
              >https://www.pref.shiga.lg.jp/ippan/shigotosangyou/syougyou/302793.html</a
            >
          </p>

          <p>&nbsp;</p>

          <h3>農業制度資金</h3>
          <div class="bg_gray">
            <p>
              国や自治体（県・市町）が直接または間接的に資金を融資もしくは利子の補給等を行うことにより、農協や（株）日本政策金融公庫等をはじめとする融資機関が農業者の方に低利で融資する制度です。
            </p>
          </div>
          <h4>詳細・問い合わせ先</h4>
          <p>
            <a
              href="https://www.pref.shiga.lg.jp/ippan/shigotosangyou/nougyou/seisangizyutsu/300372.html"
              >https://www.pref.shiga.lg.jp/ippan/shigotosangyou/nougyou/seisangizyutsu/300372.html</a
            >
          </p>

          <p>&nbsp;</p>

          <h3>持続化給付金</h3>
          <div class="bg_gray">
            <p>
              感染症拡大により、特に大きな影響を受ける事業者に対して、事業の継続を下支えし、再起の糧としていただくため、事業全般に広く使える給付金を支給します。
            </p>
          </div>
          <h4>対象者（事業主）</h4>
          <ul>
            <li>
              新型
              コロナウイルス感染症の感染症の影響により、売上げが前年同月比で５０％以上減少しているもの
            </li>
            <li>
              資本金１０億円以上の大企業を除き、中堅企業、中小企業、小規模事業者、フリーランスを含む個人事業者
            </li>
          </ul>
          <h4>給付額</h4>
          <ul>
            <li>
              法人は最大２００万円、個人事業主は最大１００万円
            </li>
            <li>
              昨年１年間の売上からの減少分を上限とします
            </li>
          </ul>

          <div class="foot_contact">
            <p class="foot_ttl"><span>問い合わせ先</span></p>
            <p class="foot_txt">
              中小企業　金融・給付金相談窓口
            </p>
            <p class="foot_tel">
              0570-783183<span>（9:00〜17:00　平日･休日）</span>
            </p>
          </div>
        </div>

        <div class="orange_box editor">
          <p class="ttl_02">特別定額給付金（仮称）</p>
          <div class="orange_inner">
            <div class="bg_yellow">
              <p>
                新型コロナウイルス感染症の影響を踏まえ、定額により国民生活を支援する給付金です。
              </p>
            </div>
            <h4>対象者</h4>
            <ul>
              <li>
                ４月２７日現在住民基本台帳に登録されている者
              </li>
            </ul>
            <h4>給付額</h4>
            <ul>
              <li>世帯構成員１人につき１０万円</li>
            </ul>
            <h4>申請方法</h4>
            <h5>郵送方式</h5>
            <ol>
              <li>
                市区町村から郵送される申請書に振込先口座情報を記入する
              </li>
              <li>
                本人確認書類および振込先口座の金融機関名、口座番号、口座名義人がわかる通帳やキャッシュカードの写しとともに、市区町村に郵送する
              </li>
            </ol>
            <h5>
              オンライン申請方式（要：マイナンバーカード）
            </h5>
            <ol>
              <li>
                マイナポータル上の特別定額給付金の申請画面にアクセスする
              </li>
              <li>
                世帯主および世帯員の情報並びに振込先口座情報の確認書類をアップロードし、電子申請を行う
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
