<div class="Parent">
  <h2 class="Parent-Heading">
    新型コロナウイルス感染症に関する支援制度
  </h2>
  <div>
    <div class="TextCard">

      <ul class="list_01">
        <li><a href="support01_01.html#s01">収入が減っている</a></li>
        <li><a href="support02_01.html#s01">住宅を確保<br />して欲しい</a></li>
        <li><a href="support03_01.html#s01" class="current">学費・仕送り<br>の不安がある</a></li>
        <li><a href="support05_01.html#s01">子どもの休校で<br />働けない</a></li>
        <li><a href="support04_01.html#s01">手元に<br>生活資金がない</a></li>
      </ul>

      <div id="s01">
        <div class="editor main_contents">

          <!--　  タイトル・強調　  -->

          <h2>学費・仕送りの不安がある</h2>

          <h3>修学支援新制度</h3>

          <div class="bg_gray">
            <p>新型コロナウイルス感染症の影響で家計が急変した学生等へ「授業料等減免」「給付型奨学金」といった支援があります。</p>
          </div>

          <h4>対象者（個人）</h4>
          <p>世帯（父母等）の収入が大きく減った人、今まで奨学金や授業料等の減免を受けていなかった人</p>
          <p class="attention">既に貸与奨学金の利用中の人は、必要であれば利用額を増額することができます</p>

          <h4>内容</h4>
          <ol>
            <li>授業料・入学金の免除／減免＋給付型奨学金</li>
            <li>貸与型奨学金（無利子・有利子）</li>
          </ol>

          <h4>申込方法</h4>
          <ol>
            <li>申込案内などを学校から受け取る</li>
            <li>申込案内を確認しながら必要な書類を揃える</li>
            <li>学校に必要な書類を提出して、奨学金はインターネットで申し込む</li>
          </ol>

          <div class="foot_contact">
            <p class="foot_ttl"><span>問い合わせ先</span></p>
            <p class="foot_txt">日本学生支援機構　奨学金相談センター</p>
            <p class="foot_tel"><a href="tel:0570-666-301">0570-666-301</a><span>（9:00〜17:00　土日祝除く）</span></p>
            <p class="foot_txt">各大学・専門学校等の学生課や奨学金窓口</p>
          </div>

        </div>
      </div>

      <div class="orange_box editor">
        <p class="ttl_02">特別定額給付金</p>
        <div class="orange_inner">
          <div class="bg_yellow">
            <p>新型コロナウイルス感染症の影響を踏まえ、定額により国民生活を支援する給付金です。</p>
          </div>
          <h4>対象者</h4>
          <ul>
            <li>４月２７日現在住民基本台帳に登録されている者</li>
          </ul>
          <h4>給付額</h4>
          <ul>
            <li>世帯構成員１人につき１０万円</li>
          </ul>
          <h4>申請方法</h4>
          <h5>郵送方式</h5>
          <ol>
            <li>市区町村から郵送される申請書に振込先口座情報を記入する</li>
            <li>本人確認書類および振込先口座の金融機関名、口座番号、口座名義人がわかる通帳やキャッシュカードの写しとともに、市区町村に郵送する</li>
          </ol>
          <h5>オンライン申請方式（要：マイナンバーカード）</h5>
          <ol>
            <li>マイナポータル上の特別定額給付金の申請画面にアクセスする</li>
            <li>世帯主および世帯員の情報並びに振込先口座情報の確認書類をアップロードし、電子申請を行う</li>
          </ol>
        </div>
      </div>

    </div>
  </div>
</div>
